@section Styles { <link rel="stylesheet" href="~/css/admin/shipping.css" asp-append-version="true" /> }
@{ ViewData["Title"] = "Shipping"; }
@model IEnumerable<ShippingWithServiceListVM>;

<div class="shipping">
    <div class="heading">
        <div class="heading-name">
            <div class="block"></div>
            <h2>Shipping</h2>
        </div>
        <div class="options">
            <a 
                class="service-btn"
                asp-area="Admin"
                asp-controller="Shipping"
                asp-action="Services"
            >
                <i class="iconoir-keyframes-couple"></i>
                Shipping Services
            </a>
        </div>
    </div>

    <div class="shipping-wrapper">
        @if(Model != null && Model.Count() > 0)
        {
            @foreach(var item in Model)
            {
                <div class="ship @item.Shipping.Type">
                    <div class="block"></div>
                    <h6>@item.Shipping.Type Shiping</h6>
                    <h2>@item.Shipping.Price <span>৳</span></h2>
                    <div class="services">
                        <p><span><i class="iconoir-check-circle"></i></span>@item.Shipping.Description</p>
                        
                        @if(item.ShippingServices.Count() > 0)
                        {
                            @foreach (var serviceItem in item.ShippingServices)
                            {
                               <p><span><i class="iconoir-check-circle"></i></span>@serviceItem.Feature</p>
                            }
                        }
                    </div>
                    <a
                        asp-area="Admin"
                        asp-controller="Shipping"
                        asp-action="Update"
                        asp-route-id="@item.Shipping.Id"
                    >
                        <i class="iconoir-edit-pencil"></i>
                    </a>
                </div>
            }
        }
        else
        {
            @await Html.PartialAsync("~/Views/Shared/_NotFoundForAdmin.cshtml", new NotFoundForAdminVM {
                Heading = "Shipping Not Found",
                Message = "Soory, we haven't find any shipping types.",
                ImageType = 1
            });
        }
    </div>
</div>